.status-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
  padding: 10px 35px 10px 0px;
}

.status-bar i {
  font-size: 14px;
}

.status-bar .status-bar__baterry-level {
  margin-left: 5px;
}
